.fadeOut {
  animation-name: fade-out ;
  animation-fill-mode: both;
  animation-duration: 10s;
}

@keyframes fade-out {
  10% { opacity: 1; }
  20% { opacity: 0.8; }
  30% { opacity: 0.6; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
