$fs-xs: 14px;
$fs-sm: 15px;
$fs-md: 17px;
$fs-lg: 32px;
$fs-xl: 122px;
$fs-hg: 130px;

$fs-sm-md: 18px;
$fs-md-md: 20px;
$fs-xl-md: 40px;
$fs-lg-md: 28px;

$fs-md-lh: 36px;
$fs-md-md-lh: 38px;
$fs-lg-lh: 45px;
$fs-lg-md-lg: 40px;
$fs-xl-lh: 127px;
$fs-xl-md-lh: 60px;
$fs-hg-lh: 130px;

$white: #fff;
$dark-grey: #2f272a;
$grey: #848484;
$red: #ff004e;
$black: #000;
