$fs-xs: 14px;
$fs-sm: 15px;
$fs-md: 17px;
$fs-lg: 32px;
$fs-xl: 122px;
$fs-hg: 130px;

$fs-sm-md: 24px;
$fs-md-md: 26px;
$fs-xl-md: 98px;
$fs-lg-md: 60px;

$fs-md-lh: 36px;
$fs-md-md-lh: 44px;
$fs-lg-lh: 45px;
$fs-lg-md-lg: 70px;
$fs-xl-lh: 127px;
$fs-xl-md-lh: 110px;
$fs-hg-lh: 130px;

$white: #fff;
$dark-grey: #2f272a;
$grey: #848484;
$red: #ff004e;
$black: #000;
