.footer__logo-mini{
  max-width: rem(45px);
  width: 100%;
  height: rem(45px);
  background-image: url('../images/logo-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  margin-right: rem(40px);

  @include medium-up {
    max-width: rem(50px);
    height: rem(50px);
  }

  @include large-up {
    max-width: rem(75px);
    height: rem(75px);
  }
}

.footer__logo {
  width: rem(149px);
  height: rem(33px);
  background-image: url('../images/logo-footer-black.png');
  background-repeat: no-repeat;
  display: none;

  @include medium-up {
    display: block;
  }
}

.footer {
  @include flex-container();

  padding: rem(40px) 0;

  & section:first-child {
    @include flex-container($justify: flex-start);

    flex-grow: 1;
  }

  p {
    font-size: $fs-xs;
  }

  @include large-up {
    padding: rem(70px) 0;
  }
}
