.owl-lazy {
  background-size: cover;
  background-position: 50% 35%;
  height: 70vh;
  text-align: center;
  transition-duration: 1s !important;
  background-color: $black;


  @include large-up {
    height: 100vh;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.3);
  }
}

.owl-dots {
  position: absolute;
  bottom: rem(64px);
  left: 0;
  right: 0;
  text-align: center;
}

button.owl-dot {
  span {
    height: rem(8px);
    width: rem(8px);
    background: $white;
    display: block;
    border-radius: rem(8px);

    @include transition(all, 0.3s, ease-in-out);
  }

  &.active {
    span {
      @include transform(scale(0.8));
      background: $red;
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:focus {
    outline: 0;
  }
}


.header__text {
  @include flex-container($justify: center, $direction: column);
  @include effra-font();

  text-transform: uppercase;
  height: 70vh;

  @include large-up {
    height: 100vh;
  }

  color: $white;
  z-index: 1;
  position: relative;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;

  span {
    font-weight: 400;
  }
}

.header__content {
  position: absolute;
  z-index: 100;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;
  width: 100%;
}

.header__wrapper {
  @include flex-container();

  margin-top: rem(60px);
}

.header__nav-opened {
  background: rgba($black, 0.9);
  bottom: 0;
  font-family: 'Effra', sans-serif;
  font-size: $fs-xl;
  height: 100vh;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  @include transition(opacity, 0.3s, ease-in-out);
  @include flex-container($justify: center);

  &.is-open {
    opacity: 1;
    max-height: 100vh;
  }

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;

    @include transition(color, 0.3s, ease-in-out);

    &:not(.is-active):hover {
      color: $red;
    }

    &.is-active {
      color: $grey;
    }
  }
}

.button-close {
  background: url('../images/close.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  text-indent: -9999px;
  cursor: pointer;
  border: none;
  animation-name: fade-in;
  animation-duration: 3s;
  position: absolute;
  top: rem(40px);
  right: rem(40px);

  @include transition(transform, 0.3s, ease-in-out);

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: 0;
    transform: scale(0.5);
  }
}

.header__logo {
  background-image: url('../images/logo.png');
  max-width: rem(130px);
  width: 100%;
  height: rem(30px);
  text-indent: rem(-9999px);

  @include transition(all, 0.3s, ease);

  &:hover {
    @include transform(scale(0.9));
  }
}
