.owl-lazy {
  background-size: cover;
  background-position: 50% 35%;
  height: 80vh;
  text-align: center;
  transition-duration: 1s !important;
  background-color: $black;


  @include large-up {
    height: 100vh;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.3);
  }
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: inherit;
  touch-action: inherit;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
}

.owl-dots {
  position: absolute;
  bottom: rem(64px);
  left: 0;
  right: 0;
  text-align: center;
}

button.owl-dot {
  span {
    height: rem(8px);
    width: rem(8px);
    background: $white;
    display: block;
    border-radius: rem(8px);

    @include transition(all, 0.3s, ease-in-out);
  }

  &.active {
    span {
      background: $red;
    }
  }

  &:not(:last-child) {
    margin-right: rem(10px);
  }

  &:focus {
    outline: 0;
  }
}


.header__text {
  @include flex-container($justify: center, $direction: column);
  @include effra-font();

  text-transform: uppercase;
  height: 80vh;

  @include large-up {
    height: 100vh;
  }

  color: $white;
  z-index: 1;
  position: relative;
  font-weight: 700;
  max-width: rem(600px);
  margin: 0 auto;

  span {
    font-weight: 400;
  }
}

.header__content {
  position: absolute;
  z-index: 100;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;
  width: 100%;
}

.header__wrapper {
  @include flex-container();

  margin-top: rem(60px);
}

.header__logo {
  background-image: url('../images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: rem(60px);
  text-indent: rem(-9999px);
  max-width: rem(130px);
  height: rem(30px);

  @include transition(all, 0.3s, ease);

  &:hover {
    @include transform(scale(0.95));
  }
}
