.main-section__text {
  @include flex-container($direction: column);

  @include large-up {
    @include flex-container($direction: row);
  }
}

.main-section {
  h1 {
    margin: rem(80px) 0 rem(40px) 0;

    @include large-up {
      margin: rem(160px) 0 rem(100px) 0;
    }

    text-transform: uppercase;
    font-weight: 700;

    @include effra-font();

    span {
      color: $red;
    }
  }

  p {
    font-family: 'Roboto', sans-serif;
    padding-right: rem(40px);

    &:not(:last-child) {
      margin-bottom: rem(40px);

      @include large-up {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    @include effra-font();

    font-weight: 700;
    margin-bottom: rem(30px);

    @include large-up {
      margin-bottom: rem(60px);
    }
  }
}
