.button-close {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  height: rem(45px);

  &:focus {
      outline: 0;
  }

  &::before,
  &::after {
    position: absolute;
    left: rem(15px);
    content: '';
    background-color: $white;
    height: rem(35px);
    width: rem(2px);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  position: absolute;
  top: rem(60px);
  right: rem(40px);

  @include transition(transform, 0.3s, ease-in-out);

  &:hover {
    transform: scale(1.1);
  }
}

.burguer {
  text-indent: rem(-9999px);
  background: transparent;
  border: none;
  cursor: pointer;
  width: rem(37px);
  height: rem(20px);

  &:focus {
    outline: 0;
  }

  &:hover {
    span,
    span::before,
    span::after {
      background-color: $red;
    }
  }

  span,
  span::before,
  span::after {
    @include transition(background-color, 0.3s, ease)
  }

  span {
    background-color: $white;
    display: block;
    width: rem(17px);
    height: rem(2px);

    &::before,
    &::after {
      background-color: $white;
      content: '';
      display: block;
      width: rem(23px);
      height: rem(2px);
    }

    &::before {
      @include transform(translateY(#{rem(-8px)}));
    }

    &::after {
      @include transform(translateY(#{rem(6px)}));
    }
  }
}

body.has-overlay {
  overflow: hidden;
  position: fixed;
}


.header__nav-opened {
  background: rgba($black, 0.9);
  bottom: 0;
  font-family: 'Effra', sans-serif;
  font-size: rem($fs-xl);
  height: 100vh;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;

  @include transition(opacity, 0.3s, ease-in-out);
  @include flex-container($justify: center);

  &.is-open {
    opacity: 1;
    max-height: 100vh;
  }

  a {
    color: $white;
    font-size: rem(45px);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    @include transition(color, 0.3s, ease-in-out);

    &:not(.is-active):hover {
      color: $red;
    }

    &.is-active {
      color: $grey;
    }
  }
}
